<!-- views/add.erb -->
<!DOCTYPE html>
<html>
	<head>
		<title>Online Calculator</title>
	</head>
	<body>
		<h1>Math Online</h1>
		<ul>
			<li><a href="/add">Addition</li>
			<li><a href="/subtract">Subtration</li>
			<li><a href="/multiply">Multiplication</li>
			<li><a href="/divide">Division</li>	
		</ul>
	</body>
</html>
