<!-- views/add.erb -->
<!DOCTYPE html>
<html>
	<head>
		<title>Math | Online Calculator</title>
	</head>
	<body style="text-align:center; margin-top:200px;">
		<img src="/calc.png" style="width:8%;">
		<h3>Online Calculator</h3>
		<form action="/result" method="POST">
			<input type="number" name="first_number" placeholder="1st number">
			||
			<input type="number" name="second_number" placeholder="2nd number">
			<br>
			<br>
			<button type="submit" name="operation" value="addition">Add</button>
			<button type="submit" name="operation" value="subtraction">Subtract</button>
			<button type="submit" name="operation" value="division">Divide</button>
			<button type="submit" name="operation" value="multiplication">Multiply</button>
		</form>

	</body>
</html>
