
<!DOCTYPE html>
<html>
	<head>
		<title>Math | Online Calculator</title>
		<link href="https://fonts.googleapis.com/css?family=Fira+Mono|Fira+Sans" rel="stylesheet">
	</head>
	<body style="text-align:center; margin-top:200px; background: aliceblue;">
		<img src="/calc.png" style="width:8%;">
		<h3 style="font-family: 'Fira Mono', monospace;" > <%= @result %> </h3>
		<form action="/">
    	<button type="submit" value="Home" style="margin: 5px;padding: 10px;font-size:16px; font-family:'Fira Sans',sans-serif">Home</button>
		</form>
	</body>
</html>
