<!-- Navigation Partial -->

			<nav>
				<%= link_to "Home", "/" %>
				<%= link_to "Contact", "/contact", class: "" %>
				<%= link_to "Calulator", "/calculator", class: "" %>
				<%= link_to "Projects", "/projects", class: "" %>
			</nav>
