<h3>Search Results</h3>
<% @results.each do |a_contact| %>
	<p>
		<a href="/contacts/<%= a_contact.id %>"><%= a_contact.name %></a>
		<% if a_contact.favorite == false %>
			<a href="/contacts/fav/<%= a_contact.id %>">Add Favourite</a>
		<% end %>
	</p>
<% end %>
