// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.login_success {
    background-color: orange;
    color: white;
    border-radius: 5px;
    padding: 10px;
}

.admin-only {
    background-color: red;
    color: white;
    border-radius: 5px;
    padding: 10px;
}
