<form action="/asciis" method="post">
	<input type="textarea" name="text_to_art[user_input]">
	<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
	<button type="submit">Submit</button>
</form>
