<head>
	<title>MT | Guess The Year</title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/css/materialize.min.css">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/js/materialize.min.js"></script>
</head>
<body class="valign-wrapper">
<div class="row container valign">
<div class="input-field col s12">
<form action="/search_results" method="GET">
	<i class="material-icons prefix">search</i>
	<input id="movie_search" placeholder="Type your movie search here" type="text" name="movie_search" placeholder="Search term" class="validate">
	<button type="submit" class="waves-effect waves-light green lighten-2 btn-large">Search</button>
</form>
</div>
</div>
</body>
