<head>
	<link rel="stylesheet" type="text/css" href="/style.css">
</head>

<h2 style="text-align:center;">Chenje</h2>

<h3 style="background:#ccc; color:#000; margin:auto; text-align:center;">RUBYIST IN TRAINING<br>
	 ENTREPRENUER <br>
	ZIMBO<br>
	SON<br>
	THINKER</h3>

<% if Date.today.monday? %>
	<p>Izzy Ironside is <strong>NOT</strong> a fan of Mondays like today.
	</p>
	<% else %>
	<p>Glad today is not a Monday</p>
<% end %>

<%= Time.now %>
