<div class="row">
<nav class="navbar navbar-light" style="background-color: #4A58BF;">
    <div class="container">
        <a class="navbar-brand" href="/">Music Concert Network</a>
        <ul class="nav navbar-nav float-xs-right">
            <li class="nav-item active">
              <%= link_to "Home", "/", class: "nav-link" %>
            </li>
            <li class="nav-item active">
              <%= link_to "Add New Concert", new_concert_path,  class: "nav-link"%>
            </li>
        </ul>
    </div>
</nav>
</div>
