<body style="width:60%; margin:auto;">
	<% @posts.each_with_index do |post, index| %>
	<div>
		<h3 style="margin-top:5%">
			<a href="/post_details/<%= index %>"><%= post.title%></a>
		</h3>
		<strong><%= post.date %></strong>
		<p><%= post.text %><p>
		</div>
			<% end %>
		</body>
