<ul>
	<% @projects.each do |project| %>
		<% if project.description  == nil %>
			<li><%= project.name %></li>
		<% else %>
			<li><%= project.name %> – <%= project.description %></li>
		<% end %>
	<% end %>
</ul>
